@import url('https://fonts.googleapis.com/css2?family=Mali:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mali', cursive;
    background-image: url("/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 1200px;
    padding: 0;
    margin: 0 auto;
}

.wrapper {
    width: 100%;
}

.header_brand {
    width: 100%;
    height: 100px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_brand .header_brand_title {
    font-size: 36pt;
    font-weight: 600;
    background-image: linear-gradient(to right, #1775c2,#9dd3ff,#9dd3ff,#1775c2); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    animation: move 200s linear infinite;
}

@keyframes move {
	to {
		background-position: 4500vh;
	}
}

.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.header {
    width: 100%;
    height: 440px;
    background-image: linear-gradient(to right, #1775c2,#6ebeff,#9dd3ff,#6ebeff,#1775c2);
    animation: move 200s linear infinite;
}

.header .navbar {
    display: flex;
}

.header nav {
    width: 350px;
    height: 440px;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.header nav ul {
    list-style: none;
}

.header nav li {
    font-size: 1.0em;
    line-height: 40px;
    text-align: left;
}

.header nav a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 0 15px;
    transition: .3s;
}

.header nav a:hover {
    background-color: #f5f5f5;
    color: #1775c2;
    margin-left: 15px;
    border-left: 5px solid #1775c2;
}

.header nav a.active {
    background-color: #f5f5f5;
    color: #1775c2;
    margin-left: 15px;
    border-left: 5px solid #1775c2;
}

.content {
    text-align: center;
}

.content .info {
    background-color: rgba(255, 255, 255, 0.705);
    padding: 35px;
    border-bottom: 1px solid #e5e5e5;
}

.content .info h1 {
    color: #1775c2;
}

.content .info h1, .content .info p {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 30px;
}

.t_img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer {
    width: 100%;
    height: 150px;
    background-color: #fff;
    color: #1775c2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}